<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
	<!-- <div class="sm:mx-auto sm:w-full sm:max-w-sm">
	  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Виды страхования</h2>
	</div> -->
  
	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
	  <div class="space-y-6">
		<div>
			<button routerLink="/menu/osgovts/renew" type="submit" 
		  		class="block w-full rounded-md bg-green-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500"
			>
				Продлить полис
		  	</button>
		</div>
		<div>
			<button routerLink="/menu/osgovts/create" type="submit" 
				class="block w-full rounded-md bg-green-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500"
			>
				Создать новый полис
			</button>
		</div>
		<div>
			<button routerLink="/menu/osgovts/edit" type="submit" 
				class="block w-full rounded-md bg-green-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500"
			>
				Изменить полис
			</button>
		</div>
	  </div>
	</div>
  </div>
