<!-- 
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <ol class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
        <li class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
            <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
                <svg class="w-3.5 h-3.5 sm:w-4 sm:h-4 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                Personal <span class="hidden sm:inline-flex sm:ml-2">Info</span>
            </span>
        </li>
        <li class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
            <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
                <span class="mr-2">2</span>
                Account <span class="hidden sm:inline-flex sm:ml-2">Info</span>
            </span>
        </li>
        <li class="flex items-center">
            <span class="mr-2">3</span>
            Confirmation
        </li>
    </ol>
  </div> -->

  <ul
  data-te-stepper-init
  class="relative m-0 flex list-none justify-between overflow-hidden p-0 transition-[height] duration-200 ease-in-out">
  <!--First item-->
  <li
    data-te-stepper-step-ref
    data-te-stepper-step-active
    class="w-[4.5rem] flex-auto">
    <div
      data-te-stepper-head-ref
      class="flex cursor-pointer items-center pl-2 leading-[1.3rem] no-underline after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:after:bg-neutral-600">
      <span
        data-te-stepper-head-icon-ref
        class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f] dark:hover:bg-[#3b3b3b]">
        1
      </span>
      <span
        data-te-stepper-head-text-ref
        class="font-medium text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
        step1
      </span>
    </div>
    <div
      data-te-stepper-content-ref
      class="absolute w-full p-4 transition-all duration-500 ease-in-out">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </li>

  <!--Second item-->
  <li data-te-stepper-step-ref class="w-[4.5rem] flex-auto">
    <div
      data-te-stepper-head-ref
      class="flex cursor-pointer items-center leading-[1.3rem] no-underline before:mr-2 before:h-px before:w-full before:flex-1 before:bg-[#e0e0e0] before:content-[''] after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:before:bg-neutral-600 dark:after:bg-neutral-600">
      <span
        data-te-stepper-head-icon-ref
        class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f] dark:hover:bg-[#3b3b3b]">
        2
      </span>
      <span
        data-te-stepper-head-text-ref
        class="text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
        step2
      </span>
    </div>
    <div
      data-te-stepper-content-ref
      class="absolute left-0 w-full translate-x-[150%] p-4 transition-all duration-500 ease-in-out">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.
    </div>
  </li>

  <!--Third item-->
  <li data-te-stepper-step-ref class="w-[4.5rem] flex-auto">
    <div
      data-te-stepper-head-ref
      class="flex cursor-pointer items-center pr-2 leading-[1.3rem] no-underline before:mr-2 before:h-px before:w-full before:flex-1 before:bg-[#e0e0e0] before:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:before:bg-neutral-600 dark:after:bg-neutral-600">
      <span
        data-te-stepper-head-icon-ref
        class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f] dark:hover:bg-[#3b3b3b]">
        3
      </span>
      <span
        data-te-stepper-head-text-ref
        class="text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
        step3
      </span>
    </div>
    <div
      data-te-stepper-content-ref
      class="absolute left-0 w-full translate-x-[150%] p-4 transition-all duration-500 ease-in-out">
      Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.
    </div>
  </li>
</ul>
  
