<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-gray-200">Виды страхования</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="space-y-6">
      <div>
        <button label="Osgovts" routerLink="/menu/osgovts/" type="submit" 
          class="block w-full rounded-md bg-green-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500"
        >
          Osgovts
        </button>
      </div>
      <div>
        <button label="Travel" routerLink="/menu/travel/" type="submit" 
          class="block w-full rounded-md bg-green-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500"
        >
          Travel
        </button>
      </div>
    </div>
    <!-- <p class="mt-10 text-center text-sm text-gray-500">
      Сменить язык:
      <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">rus</a>
    </p> -->
  </div>
</div>